<h1> <center>üèÄüèÜ <b> March Machine Learning Mania 2024 üèÜüèÄ </b></center> </h1>
<h2> <center>üìä EDA &amp; üìà ML </center> </h2>
<p><center style="color:#4A919E; font-family:cursive;">by Paul Cascarino, a beginer Kaggler !</center></p>

***

<img src="https://www.gccs.co/wp-content/uploads/2019/11/basketball-banner-300x78.jpg" alt="Basketball Banner" style="width: 1500px; height: auto;"/>

<h1 id="table"> 
    <a class="anchor-link">
        <b>Table of Contents</b>
    </a>
</h1>

<p id="preparations" style="font-size: 25px; line-height: 0.5; padding: 0 20px;"> 
    <a class="anchor-link" href="#preparations">
        1. Preparations
    </a>
</p>

<p id="librairies" style="font-size: 20px; line-height: 0.5; padding: 0 35px;">  
    <a class="anchor-link" href="#librairies">
        1.1 - Import librairies
    </a>
</p>

<p id="data" style="font-size: 20px; line-height: 0.5; padding: 0 35px;">  
    <a class="anchor-link" href="#data">
        1.2 - Import data
    </a>
</p>

<p id="EDA" style="font-size: 25px; line-height: 0.5; padding: 0 20px;"> 
    <a class="anchor-link" href="#EDA">
        2. Exploratory Data Analysis
    </a>
</p>

<p id="eda1" style="font-size: 20px; line-height: 0.5; padding: 0 35px;">  
    <a class="anchor-link" href="#eda1">
        2.2 - Data Section 1 : The basics
    </a>
</p>

<p id="eda11" style="font-size: 17px; line-height: 0.5; padding: 0 50px;">  
    <a class="anchor-link" href="#eda11">
        2.2.1 - MTeams.csv and WTeams.csv
    </a>
</p>

<h1 id="preparations">  
    <a class="anchor-link">
        1. Preparation
    </a>
</h1>

<h2 id="librairies">  
    <a class="anchor-link">
        1.1 - Import librairies
    </a>
</h2>

In [39]:
import numpy as np
import pandas as pd

# Permitt to read all the csv in the repertory data
import glob

<h2 id="data">  
    <a class="anchor-link">
        1.1 - Import all the data (with a function)
    </a>
</h2>

Let's earn time and import all the data with a unique function !

In [66]:
def csv_to_df_auto(data_path='data'):
    """
    Read all CSV files in the specified directory and return a dictionary of DataFrames associated to their names.

    Parameters :
        - data_path (optional) : str, path to the directory containing CSV files (default is 'data')

    Returns :
        - dict: A dictionary where keys are file names and values are pandas DataFrames.
    """
    csv_files = glob.glob(f'{data_path}/*.csv')
    final_dict = {}
                          
    for csv_path in csv_files:
        df_name = csv_path.split(f'{data_path}\\')[1].split('.csv')[0]
        df = pd.read_csv(csv_path, encoding='latin1')
        final_dict[df_name] = df
        print(f'The dataframe {df_name} has {df.shape[0]} rows, {df.shape[1]} columns, and {df.isna().sum().sum()} NA values.')
    
    return final_dict

In [67]:
dict_df = csv_to_df_auto('data')

The dataframe MGameCities has 79483 rows, 6 columns, and 0 NA values.
The dataframe MMasseyOrdinals has 5166105 rows, 5 columns, and 0 NA values.
The dataframe MNCAATourneyCompactResults has 2451 rows, 8 columns, and 0 NA values.
The dataframe MNCAATourneyDetailedResults has 1315 rows, 34 columns, and 0 NA values.
The dataframe MNCAATourneySeedRoundSlots has 720 rows, 5 columns, and 0 NA values.
The dataframe MNCAATourneySeeds has 2490 rows, 3 columns, and 0 NA values.
The dataframe MNCAATourneySlots has 2452 rows, 4 columns, and 0 NA values.
The dataframe MRegularSeasonCompactResults has 185865 rows, 8 columns, and 0 NA values.
The dataframe MRegularSeasonDetailedResults has 111817 rows, 34 columns, and 0 NA values.
The dataframe MSeasons has 40 rows, 6 columns, and 0 NA values.
The dataframe MSecondaryTourneyCompactResults has 1756 rows, 9 columns, and 0 NA values.
The dataframe MSecondaryTourneyTeams has 1780 rows, 3 columns, and 0 NA values.
The dataframe MTeamCoaches has 13167 rows, 5 columns, and 0 NA values.
The dataframe MTeamConferences has 13024 rows, 3 columns, and 0 NA values.
The dataframe MTeams has 378 rows, 4 columns, and 0 NA values.
The dataframe MTeamSpellings has 1165 rows, 2 columns, and 0 NA values.
The dataframe sample_submission has 126 rows, 5 columns, and 0 NA values.
The dataframe WGameCities has 75565 rows, 6 columns, and 0 NA values.
The dataframe WNCAATourneyCompactResults has 1583 rows, 8 columns, and 0 NA values.
The dataframe WNCAATourneyDetailedResults has 827 rows, 34 columns, and 0 NA values.
The dataframe WNCAATourneySeeds has 1608 rows, 3 columns, and 0 NA values.
The dataframe WRegularSeasonCompactResults has 130235 rows, 8 columns, and 0 NA values.
The dataframe WRegularSeasonDetailedResults has 74845 rows, 34 columns, and 0 NA values.
The dataframe WSeasons has 27 rows, 6 columns, and 0 NA values.
The dataframe WTeamConferences has 9128 rows, 3 columns, and 0 NA values.
The dataframe WTeams has 376 rows, 2 columns, and 0 NA values.
The dataframe WTeamSpellings has 1158 rows, 2 columns, and 0 NA values.

In [57]:
dict_df['MTeams']

     TeamID          TeamName  FirstD1Season  LastD1Season
0      1101       Abilene Chr           2014          2024
1      1102         Air Force           1985          2024
2      1103             Akron           1985          2024
3      1104           Alabama           1985          2024
4      1105       Alabama A&M           2000          2024
..      ...               ...            ...           ...
373    1474         Queens NC           2023          2024
374    1475  Southern Indiana           2023          2024
375    1476         Stonehill           2023          2024
376    1477   TX A&M Commerce           2023          2024
377    1478          Le Moyne           2024          2024

[378 rows x 4 columns]

<h1 id="EDA">  
    <a class="anchor-link">
        2. Exploratory Data Analysis (EDA)
    </a>
</h1>

<h2 id="eda1">  
    <a class="anchor-link">
        2.1 - Data Section 1 : The basics
    </a>
</h2>

<h3 id="eda11">  
    <a class="anchor-link">
        2.1.1 - MTeams.csv and WTeams.csv
    </a>
</h3>

We have thanks to these two datasets : 

- **TeamID** - a 4 digit id number, uniquely identifying each NCAA¬Æ men's or women's team. A school's TeamID does not change from one year to the next, so for instance the Duke men's TeamID is 1181 for all seasons. To avoid possible confusion between the men's data and the women's data, all of the men's team ID's range from 1000-1999, whereas all of the women's team ID's range from 3000-3999.

- **TeamName** - a compact spelling of the team's college name, 16 characters or fewer. There are no commas or double-quotes in the team names, but you will see some characters that are not letters or spaces, e.g., Texas A&M, St Mary's CA, TAM C. Christi, and Bethune-Cookman.

- ***FirstD1Season**** - the first season in our dataset that the school was a Division-I school. For instance, FL Gulf Coast (famously) was not a Division-I school until the 2008 season, despite their two wins just five years later in the men's 2013 NCAA¬Æ tourney. Of course, many schools were Division-I far earlier than 1985, but since we don't have any data included prior to 1985, all such teams are listed with a FirstD1Season of 1985. This column is only present in the men's data, so it is not found in WTeams.csv.

- **LastD1Season** - the last season in our dataset that the school was a Division-I school. For any teams that are currently Division-I, they will be listed with LastD1Season=2024. Again, this column is only present in the men's data, so it is not found in WTeams.csv.

In [79]:
MTeams_df = dict_df['MTeams']
print(MTeams_df.shape)

(378, 4)

In [78]:
WTeams_df = dict_df['WTeams']
print(WTeams_df.shape)

(376, 2)